
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

.header {
    width: 100%;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.header img{
  width: 50%;  
  height: auto;
  display: block;
  margin: 0 auto;
}

.sidebar-image {
    position: fixed;
    left: 0;
    top: 60%;
    transform: translateY(-50%);
    z-index: -2;
    width: 40%;
    opacity: 0.7;
}

/* 添加渐变到黑色的类 */
.fade-to-black {
    transition: background-color 1s ease;
    background-color: black;
}
